* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #b8e994;
}

#zero_button {
  width: 183px;
}

.button {
  width: 86.25px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  margin: 7px;
  color: #636e72;
  background: #f1f2f6;
  border: none;
  box-shadow: 0 5px #60a3bc;
  border-radius: 10px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: #ff7979;
  color: #f1f2f6;
}

.button:active {
  background-color: #ff7979;
  transform: translateY(4px);
  box-shadow: 0 2px #60a3bc;
}

.op_button {
  width: 86.25px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  margin: 7px;
  color: #f1f2f6;
  background: #FEA47F;
  border: none;
  box-shadow: 0 5px #60a3bc;
  border-radius: 10px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.op_button:hover {
  background-color: #F97F51;
  color: #f1f2f6;
}

.op_button:active {
  background-color: #F97F51;
  transform: translateY(4px);
  box-shadow: 0 2px #60a3bc;
}

.textview {
  width: 383px;
  height: 40px;
  margin: 5.5px;
  font-size: 25px;
  padding: 5px;
  background: #60a3bc;
  border-style: inset;
  border-top: 6px solid #3c6382;
  border-radius: 4px;
  color: white;
}

.calculator_frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #82ccdd;
  padding: 20px;
  border-radius: 6px;
}
